@font-face {
	font-family: TTTsarsB;
	font-weight: 300;
	src: url('../fonts/TTTsarsB-Light.ttf');
}

@font-face {
	font-family: TTTsarsB;
	font-weight: 400;
	src: url('../fonts/TTTsarsB-Regular.ttf');
}

@font-face {
	font-family: Liana;
	font-weight: 400;
	src: url('../fonts/liana.ttf');
}

@font-face {
	font-family: Alumni Sans;
	font-weight: 400;
	src: url('../fonts/AlumniSans-Regular.ttf');
}
