html {
	--bg-color-light: #fffbee;
	--text-color-dark: #0d0a07;
	--text-color-light: #f5f4f2;
	--bg-color-dark: #553a33;

	--font-family: 'TTTsarsB', sans-serif;
	--second-family: 'Alumni Sans', sans-serif;
	--third-family: 'Liana', sans-serif;
}
